<div class="container">
  <div class="row">
    <div>
      <h2>Confirmed Orders</h2>
      <div class="search">
        <h3>Search</h3>
        <form
          [formGroup]="searchForm"
          (ngSubmit)="onSubmit()"
          class="form-inline"
        >
          <div class="form-group mb-2">
            <label for="crust" class="mr-2">Crust</label>
            <select id="crust" class="form-control" formControlName="crust">
              <option *ngFor="let crust of crustOptions" [value]="crust">
                {{ crust }}
              </option>
            </select>
          </div>
          <div class="form-group mb-2">
            <label for="flavor" class="mr-2">Flavor</label>
            <select id="flavor" class="form-control" formControlName="flavor">
              <option *ngFor="let flavor of flavorOptions" [value]="flavor">
                {{ flavor }}
              </option>
            </select>
          </div>
          <div class="form-group mb-2">
            <label for="size" class="mr-2">Size</label>
            <select id="size" class="form-control" formControlName="size">
              <option *ngFor="let size of sizeOptions" [value]="size">
                {{ size }}
              </option>
            </select>
          </div>
          <div class="form-group mb-2">
            <label for="tableNo" class="mr-2">Table No</label>
            <input
              id="tableNo"
              type="number"
              class="form-control"
              formControlName="tableNo"
            />
          </div>
          <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Crust</th>
            <th>Flavor</th>
            <th>Size</th>
            <th>Table No</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of confirmedOrdersFiltered">
            <td>{{ order.Crust }}</td>
            <td>{{ order.Flavor }}</td>
            <td>{{ order.Size }}</td>
            <td>{{ order.Table_No }}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteOrder(order)">
                delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
